<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if logged? %>
      <p>Logged in as <%= current_user.email %></p>
      <%= link_to "Log out", session_logout, method: :delete %>
    <% else %>
      <%= link_to "Log in", session_login %>
    <% end %>
    <%= yield %>
  </body>
</html>
